@import '../../../../_variables';

.container {
    margin-top: 100px;

    &-basic {
        background-color: $green !important;
        display: flex;
        flex-direction: column;

    }

    h1 {
        color: $dark;
        font-size: 36px;
        font-weight: 600;
        line-height: 56px;
    }
}

.photo {
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
    padding: 100px;
    margin-top: 35px;
    flex-shrink: 1;
}

section {
    display: flex;
    justify-content: center;
}