
<div class="container" [ngClass]="{'container-mobile': isMobile}">
    <img [src]="data.image" [alt]="data.name" class="container-img" [ngClass]="{'container-img-tablet': isTablet, 'container-img-mobile': isMobile}" />
    <div>
        <h3>{{data.name}}</h3>
        <p><strong>Difficulty: {{data.level | difficultyLabel}}</strong></p>
        <p>{{data.description}}</p>
        <div class="items">
            <div *ngFor="let item of data.pros">
                <div class="item">
                    <p class="item-number">{{item.id}}</p>
                    <h3>{{item.name}}</h3>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<button mat-flat-button color="primary" (click)="openDialog()">Get Your Free Trial</button>