<section class="banner">
    <img src="../../../../assets/banner.png" alt="Banner" class="banner-img" />
    <div class="banner-text">
        <h1 color="primary" [ngClass]="{'header-tablet': isTablet}">{{ 'Yoga First Fitness Always' | uppercase }}</h1>
        <p>Welcome to Great Fit Yoga and Fitness Center, where tradition meets innovation. Our experts guide you through transformative yoga and fitness programs designed to strengthen your body and calm your mind.</p>
        <div class="buttons">
            <button mat-flat-button color="primary" (click)="bookService.redirectToBooking()">Book a Session</button>
            <app-contact-button></app-contact-button>
        </div>
    </div>
</section>