@import '../../../../variables';

section {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $dark;

    nav {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 35px;
        margin-bottom: 100px;

        a {
            font-size: large;
            color: $dark;
            text-decoration: none;
        }

        a:hover {
            color: #{$dark}80;
        }
    }
}