
.header {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 52px;
        margin: 0;
    }

    h5 {
        font-size: 20px;
        margin: 0;
    }
}