<p *ngIf="!start">Currently your level is <strong>{{ userLevel | difficultyLabel }}</strong>. Let's practise to enhace it. To start press the button below and do the suggested yoga pose during the proposed time. When finished press the button for the new pose. Have a nice session!</p>
<button *ngIf="!start" mat-flat-button color="primary" class="start-session" (click)="startSession()">Start Yoga
    Session</button>

<div *ngIf="start" class="session">
    <app-progress-bar [poses]="poses"></app-progress-bar>
    <button *ngIf="showNext" mat-flat-button color="primary" (click)="increaseProgress()">Complete Pose</button>
</div>