@import '../../../../_variables';

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1320px;
    height: 100%;
    color: $dark;

    h1 {
        margin-bottom: 48px;
    }
}