<section>
    <app-section-title title="Our Services" subtitle="Sub heading to explain more"></app-section-title>

    <div class="main-content">
        <div class="start-card">
            <h3>Get Started With Your Free Trial</h3>
            <p>Explore yoga at our serene studio with a complimentary session. Meet our instructors and discover the benefits</p>
            <button mat-button color="primary">Get Started Today</button>
        </div>
        <div class="service-cards">
            <app-service-card></app-service-card>
        </div>
    </div>
</section>
