<section>
    <app-section-title title="Our Services" subtitle="Sub heading to explain more"></app-section-title>

    <div class="main-content">
        <div class="start-card">
            <h3>Get Started With Your Free Trial</h3>
            <p>Explore yoga at our serene studio with a complimentary session. Meet our instructors and discover the benefits</p>
            <button mat-button color="primary" (click)="openDialog()">Get Started Today</button>
        </div>
        <div class="service-cards">
            <div *ngFor="let card of cards">
                <app-service-card [icon]="card.icon" [title]="card.title" [text]="card.text"></app-service-card>
            </div>
        </div>
    </div>
</section>
