<form #formElement [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Choose trainer</mat-label>
        <mat-select formControlName="trainer">
            @for (trainer of trainers; track trainer) {
            <mat-option [value]="trainer.name">{{trainer.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div class="calendar">
        <div class="calendar-header">
            <h3>{{ today | date: "EEEE, MMMM d" }}</h3>
            <div class="buttons">
                <button mat-icon-button mat-flat-button color="text">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <button mat-icon-button mat-flat-button color="text">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>

        <mat-button-toggle-group [hideSingleSelectionIndicator]="true" formControlName="selectedDay" class="calendar-days">
            @for (day of days; let i = $index; track day) {
            <mat-button-toggle [value]="i" class="calendar-day">
                <p>{{ day | date: "E" }}</p>
                <p>{{ day | date: "d" }}</p>
            </mat-button-toggle>
            }
        </mat-button-toggle-group>
        <p>Time</p>
        <mat-button-toggle-group [hideSingleSelectionIndicator]="true" formControlName="selectedTime" class="calendar-days">
            @for (slot of slots; let i = $index; track slot) {
            <div class="slot">
                <mat-button-toggle [value]="i" class="calendar-day">
                    <p>{{slot}}</p>
                </mat-button-toggle>
                <p>{{finalSlots[slot]}} slots left</p>
            </div>
            }
        </mat-button-toggle-group>
    </div>

    <button mat-flat-button color="primary" type="submit">Submit</button>
</form>