<div class="footer">
    <div class="footer-top" [ngClass]="{'footer-top-tablet': isTablet}">
        <img src="../../../../assets/logo.svg" alt="Logo" class="logo" />
        <div *ngIf="!isTablet" class="menu-right">
            <a routerLink="home" class="menu-item">Home</a>
            <a routerLink="services" class="menu-item">Services</a>
            <a routerLink="classes" class="menu-item">Our Classes</a>
            <a routerLink="about" class="menu-item">About</a>
            <a routerLink="contact" class="menu-item">Contact</a> 
        </div>
    </div>
    <div class="footer-bottom" [ngClass]="{'footer-bottom-tablet': isTablet}">
        <div class="footer-social">
            <a href=""><img src="../../../../assets/instagram.svg" alt="Instagram" class="icon" /></a>
            <a href=""><img src="../../../../assets/fb.svg" alt="Facebook" class="icon" /></a>
            <a href=""><img src="../../../../assets/x.svg" alt="X" class="icon" /></a>
            <a href=""><img src="../../../../assets/youtube.svg" alt="Youtube" class="icon" /></a>
        </div>
        <p>© Copyright 2024 | All rights Reserved</p>
    </div>
</div>

