@import '../../../../variables';

button {
    min-width: 168px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mat-mdc-button {
    color: $dark;
}