/* You can add global styles to this file, and also import other style files */
@use 'variables' as theme;
@use '@angular/material' as mat;

@include mat.all-component-themes(theme.$custom-theme);

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: "Inter", serif;

}

:root {
    color: theme.$dark;
}

app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mat-flat-button, .mat-raised-button, .mat-stroked-button {
    background-color: theme.$green;
    color: theme.$white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
  }