/* You can add global styles to this file, and also import other style files */
@use 'variables' as theme;
@use '@angular/material' as mat;

@include mat.all-component-themes(theme.$custom-theme);

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
