/* You can add global styles to this file, and also import other style files */
@use 'variables' as theme;
@use '@angular/material' as mat;

@include mat.all-component-themes(theme.$custom-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Inter", serif;
}

:root {
    color: theme.$dark;
}

app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    font-size: 24px;
}

h1,
h2,
h3,
h5,
p {
    margin: 0;
}

p {
    line-height: 28px;
}

.mat-flat-button,
.mat-raised-button,
.mat-stroked-button {
    background-color: theme.$green;
    color: theme.$white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
}

body.loading::after {
    content: 'Loading...';
    position: fixed;
    top: 100px;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    background: theme.$green;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    z-index: 1000;
}