<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-conatainer">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Full name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('email')">
            Enter a valid email
          </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" rows="2"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" [value]="countryName || 'Fetching country...'" readonly>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">Contact Us</button>
</form>
