@import '../../../../variables';

:host {
    display: flex;
    justify-content: center;
}

section {
    width: 100%;
    color: $dark;
    margin-top: 106px;

    p {
        margin-top: 35px;
        margin-bottom: 48px;
    }

    .action {
        display: flex;
        justify-content: center;
        margin-bottom: 96px;
    }

    .trainers-container {
        display: flex;
        justify-content: center;
        gap: 48px;
        flex-wrap: wrap;
        margin-bottom: 48px;

        div img {
                max-width: 80vw;
        }
    }
}

.tablet {
    padding: 15px;
}